<body bgcolor="#E6E6FA">
<h1>
  Workshop Todo List
</h1>
<ul class="card">
<% @todos.each do |todo| %>
  <li>
    <input type="checkbox" name="" <%= todo.complete ? "checked" : "" =%> />
    <a href="/todo/show/<%= todo.id %>"><%= todo.description %></a>
    <span class="pomodoro-estimate small-pomodoro-estimate"> estimate = <%= todo.pomodoro_estimate %></span>
  </li>
<% end %>
</ul>

<div id="new-todo-block">
  <a href="/todo/new" class="button add-new-todo-button" id="add-new-todo-button">Add a todo</a>
</div>
</body>