<h1>
  Workshop Todo List
</h1>

<h2>Todo #<%= params[:id] %></h2>

<div class="card">
  <h3><%= @todo_description %></h3>
  <span class="pomodoro-estimate large-pomodoro-estimate"><%= @todo_pomodoro_estimate %> Pomodoros</span>
  <br />
  <a href="#" class="button" id="edit-todo-button">Edit</a>
  <a href="#" class="button" id="delete-todo-button">Delete</a>
  <a href="../index" class="simple-link">Go back...</a>
</div>